table, td {
  border: 1px solid black;
}
th {
  border: 2px solid black;
}
table {
  margin-bottom: 1em;
}
td, th {
  width: 3em;
  text-align: center;
}
td:first-child, th:first-child {
  min-width: 5em;
}
tr:nth-child(2) button {
  display: none;
}
.bigBorder {
  margin: 2em 0;
}
fieldset, form {
  width: 30em;
  padding: 0.5em;
}
fieldset {
  margin-top: 1em;
}
input {
  width: 10em;
}
